body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.header {
	text-align: center;
	color: #16a596;
}

a {
	text-decoration: none;
	margin-right: 80px;
	color: #16a596;
	font-weight: bold;
}

a:hover {
	color: #898b8a;
}

.container {
	background: #f7d1ba;
}
